
 .sticky-whatsapp-button {
  position: fixed;
  right: 20px;
  bottom: 40%;
  cursor: pointer;
  z-index: 1000;
}

.sticky-whatsapp-button img {
  width: 125px;
}

@media only screen and (max-width: 1180px) {

  .sticky-whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 40%;
  }

  .sticky-whatsapp-button img {
    width: 105px;
  }

}

@media only screen and (max-width: 640px) {
  .sticky-whatsapp-button {
    position: fixed;
    right: 10px;
    bottom: 40%;
    z-index: 1000;
  }

  .sticky-whatsapp-button img {
    width: 85px;
  }
}

@media only screen and (max-width:325px) {
  .sticky-whatsapp-button {
    right: 12px;
    bottom: 40%;
  }

  .sticky-whatsapp-button img {
    width: 65px;
  }

}