
<div style="width:100%;font-family:arial,'helvetica neue',helvetica,sans-serif;padding:0;Margin:0"> 
  <div style="background-color:#f6f6f6"> 
   <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"> 
     <tbody><tr height="0"> 
      <td style="padding:0;Margin:0"> 
       <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;border-spacing:0px;width:600px"> 
         <tbody><tr> 
          <td cellpadding="0" cellspacing="0" border="0" height="0" style="padding:0;Margin:0;line-height:1px;min-width:600px"><img src="https://vfetco.stripocdn.email/content/guids/CABINET_7deca4c1e647616f2c83cea0895dcc97dd689569f0459e08eaf4be2c18590f16/images/luclogo.png" width="600" height="1" style="display:block;border:0;outline:none;text-decoration:none;max-height:0px;min-height:0px;min-width:600px;width:600px" alt=""></td> 
         </tr> 
       </tbody></table></td> 
     </tr> 
     <tr> 
      <td valign="top" style="padding:0;Margin:0"> 
       <table cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top"> 
         <tbody><tr> 
          <td align="center" style="padding:0;Margin:0"> 
           <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px"> 
             <tbody><tr> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;width:560px"> 
                 <tbody><tr> 
                  <td valign="top" style="padding:0;Margin:0"> 
                   <table cellspacing="0" cellpadding="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left"> 
                     <tbody><tr> 
                      <td valign="top" align="center" style="padding:0;Margin:0;width:300px"> 
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                         <tbody><tr> 
                          <td align="center" style="padding:0;Margin:0;padding-bottom:15px;padding-right:40px;font-size:0px"><a href="https://www.learnersuae.com/" style="text-decoration:underline;color:#2cb543;font-size:14px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.learnersuae.com/&amp;source=gmail&amp;ust=1673508825770000&amp;usg=AOvVaw0yQxTX2KZDwaO1wDK2S_3m"><img src="https://ci3.googleusercontent.com/proxy/zmHMIYprduB2hTxTsv0L1BSeiF_gEpvnhFA5nDA-vlYH_rx62gZII_SAvCwpe8yqL5FpH9KVhON-g1VlhusJ4ot0wuidAr1uQ2qkQUDHB2cvIpXA4ggppvszMBH237K9qNxiV4tZCYoqMZcPPV9fyjAaZDo4eDvzb-PllP_ZYA=s0-d-e1-ft#https://vfetco.stripocdn.email/content/guids/CABINET_e34c865e54ff629ca16d4c0dddd8c2fc/images/logosin_ATv.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="260"></a></td> 
                         </tr> 
                       </tbody></table></td> 
                     </tr> 
                   </tbody></table></td> 
                  <td style="padding:0;Margin:0;width:20px"></td> 
                  <td valign="top" style="padding:0;Margin:0"> 
                   <table cellspacing="0" cellpadding="0" align="right" style="border-collapse:collapse;border-spacing:0px;float:right"> 
                     <tbody><tr> 
                      <td align="left" style="padding:0;Margin:0;width:240px"> 
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                         <tbody><tr> 
                          <td align="center" style="padding:0;Margin:0;padding-top:15px;padding-bottom:15px"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:30px;color:#333333;font-size:20px;text-align:right"><strong>{{exam_date}}<br>EXAMINATION</strong></p></td> 
                         </tr> 
                       </tbody></table></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table> 
       <table cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%"> 
         <tbody><tr> 
          <td align="center" style="padding:0;Margin:0"> 
           <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px"> 
             <tbody><tr> 
              <td align="left" style="padding:0;Margin:0"> 
               <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><img src="https://ci6.googleusercontent.com/proxy/Xz4z-svwYM4Sv5zMtugfDZFOmysJj2Y13dQ9dDsQlH6FGi5OCTtdriUH4_1fAFOGuHByI3LAFriQ8eNyYMC1f9AIg7HpxOyF3VCZ9DklyX6muZH5LhKkB16YoCzgzsICe2lQih5clyolfV5a3voDG63govBomobeDFWM=s0-d-e1-ft#https://vfetco.stripocdn.email/content/guids/CABINET_e34c865e54ff629ca16d4c0dddd8c2fc/images/group_2.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="600"></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table> 
       <table cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top"> 
         <tbody><tr> 
          <td align="center" style="padding:0;Margin:0"> 
           <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px"> 
             <tbody><tr> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td style="padding:0;Margin:0;padding-bottom:20px"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:30px;color:#333333;font-size:15px;text-align:justify">Dear {{student_name}},</p><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:30px;color:#333333;font-size:15px;text-align:justify">Greetings from Learners University College!</p><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:30px;color:#333333;font-size:15px;text-align:justify">{{exam_content}}<br></p><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:30px;color:#333333;font-size:15px;text-align:justify"><strong>{{start_date}}</strong>&nbsp;to <strong>{{end_date}}.</strong></p><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:30px;color:#333333;font-size:15px;text-align:justify">Please find the exam timetable below:</p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
             <tr> 
              <td align="left" style="padding:0;Margin:0;padding-left:10px;padding-right:10px"> 
               <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;width:580px"> 
                 <tbody><tr> 
                  <td valign="top" style="padding:0;Margin:0"> 
                   <table cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;width:80px"> 
                       <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px;border-left:2px solid #333333;border-right:2px solid #333333;border-top:2px solid #333333;border-bottom:2px solid #333333" role="presentation"> 
                         <tbody><tr> 
                          <td align="center" bgcolor="#efefef" style="padding:5px;Margin:0;height: 42px;color: #000;text-decoration: none;"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:28px;color:#333333;font-size:14px"><strong>SL NO</strong></p></td> 
                         </tr> 
                       </tbody></table></td> 
                     </tr> 
                   </tbody></table></td> 
                  <td valign="top" style="padding:0;Margin:0"> 
                   <table cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;width:150px"> 
                       <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px;border-left:2px solid #333333;border-right:2px solid #333333;border-top:2px solid #333333;border-bottom:2px solid #333333" role="presentation"> 
                         <tbody><tr> 
                          <td align="center" bgcolor="#efefef" style="padding:5px;Margin:0;height: 42px;"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:28px;color:#333333;font-size:14px"><strong>DATE</strong></p></td> 
                         </tr> 
                       </tbody></table></td> 
                     </tr> 
                   </tbody></table></td> 
                  <td valign="top" style="padding:0;Margin:0"> 
                   <table cellpadding="0" cellspacing="0" align="right" style="border-collapse:collapse;border-spacing:0px;float:right"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;width:360px"> 
                       <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px;border-left:2px solid #333333;border-right:2px solid #333333;border-top:2px solid #333333;border-bottom:2px solid #333333" role="presentation"> 
                         <tbody><tr> 
                          <td align="center" bgcolor="#efefef" style="padding:5px;Margin:0;height: 42px;"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:28px;color:#333333;font-size:14px"><strong>SUBJECT</strong></p></td> 
                         </tr> 
                       </tbody></table></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
             {% for subject in subjects %}
              <tr> 
                <td align="left" style="padding:0;Margin:0;padding-left:10px;padding-right:10px"> 
                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;width:580px"> 
                  <tbody><tr> 
                    <td valign="top" style="padding:0;Margin:0"> 
                    <table cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left"> 
                      <tbody><tr> 
                        <td align="center" style="padding:0;Margin:0;width:80px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px;border-left:2px solid #333333;border-right:2px solid #333333;border-top:2px solid #333333;border-bottom:2px solid #333333" role="presentation"> 
                          <tbody><tr> 
                            <td align="center" style="padding:5px;Margin:0;height:42px;"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:21px;color:#333333;font-size:14px">{{forloop.counter}}</p></td> 
                          </tr> 
                        </tbody></table></td> 
                      </tr> 
                    </tbody></table></td> 
                    <td valign="top" style="padding:0;Margin:0"> 
                    <table cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left"> 
                      <tbody><tr> 
                        <td align="center" style="padding:0;Margin:0;width:150px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px;border-left:2px solid #333333;border-right:2px solid #333333;border-top:2px solid #333333;border-bottom:2px solid #333333" role="presentation"> 
                          <tbody><tr> 
                            <td align="center" style="padding:5px;Margin:0;height:42px;"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:21px;color:#333333;font-size:14px">{% if exam_reschedule %} {{subject.reshedule_date}} {% else %} {{subject.date}} {% endif %}</p></td> 
                          </tr> 
                        </tbody></table></td> 
                      </tr> 
                    </tbody></table></td> 
                    <td valign="top" style="padding:0;Margin:0"> 
                    <table cellpadding="0" cellspacing="0" align="right" style="border-collapse:collapse;border-spacing:0px;float:right"> 
                      <tbody><tr> 
                        <td align="center" style="padding:0;Margin:0;width:360px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px;border-left:2px solid #333333;border-right:2px solid #333333;border-top:2px solid #333333;border-bottom:2px solid #333333" role="presentation"> 
                          <tbody><tr> 
                            <td align="center" style="padding:5px;Margin:0;height:42px;"><p style="Margin:0;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#333333;font-size:14px">{{subject.subject__name}}</p></td> 
                          </tr> 
                        </tbody></table></td> 
                      </tr> 
                    </tbody></table></td> 
                  </tr> 
                </tbody></table></td> 
              </tr>
             {% endfor %}
             <tr> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td align="left" style="padding:0;Margin:0"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:21px;color:#333333;font-size:14px">Best Wishes.</p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
             <tr> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;padding-top:5px"><span style="border-style:solid;border-color:#2cb543;background:#176472;border-width:0px;display:inline-block;border-radius:10px;width:auto"><a href="https://lms.learnersuae.com/" style="text-decoration:none;color:#ffffff;font-size:18px;border-style:solid;border-color:#176472;border-width:10px 30px 10px 35px;display:inline-block;background:#176472;border-radius:10px;font-family:tahoma,verdana,segoe,sans-serif;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center" data-saferedirecturl="https://www.google.com/url?q=https://lms.learnersuae.com/&amp;source=gmail&amp;ust=1667894156078000&amp;usg=AOvVaw3hGQq4Uc6FZSRoOj9sW1d9">Login</a></span></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
             <tr> 
              <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;font-size:0"> 
                       <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                         <tbody><tr> 
                          <td style="padding:0;Margin:0;border-bottom:0px solid #cccccc;background:unset;height:1px;width:100%;margin:0px"></td> 
                         </tr> 
                       </tbody></table></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
             <tr> 
              <td align="left" bgcolor="#146472" style="Margin:0;padding-left:20px;padding-right:20px;padding-top:25px;padding-bottom:25px;background-color:#146472"> 
               <table cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left"> 
                 <tbody><tr> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:460px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;padding-top:5px"><p style="Margin:0;font-family:tahoma,verdana,segoe,sans-serif;line-height:18px;color:#ffffff;font-size:12px">If you face any technical issues, please contact us at <a style="color:#fff;text-decoration:none" href="mailto:request@learnersuae.com" target="_blank">request@learnersuae.com</a></p></td> 
                     </tr> 
                   </tbody></table></td> 
                  <td style="padding:0;Margin:0;width:20px"></td> 
                 </tr> 
               </tbody></table> 
               <table cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left"> 
                 <tbody><tr> 
                  <td align="left" style="padding:0;Margin:0;width:30px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><a href="https://wa.me/+971506704909" style="text-decoration:underline;color:#ffffff;font-size:14px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://wa.me/%2B971506704909&amp;source=gmail&amp;ust=1673508825771000&amp;usg=AOvVaw0Hl93MYyINckcjmL_THhJW"><img src="https://ci3.googleusercontent.com/proxy/3pTGFjQRZwV8365cV0nmxLSo4gWrbGckQ9Zkali9lev5P1c6YfwAiyKY7_mYicmNd8KZEPrtn8yp93S-1HMiROa87UAMzh1acyjjWxypJp7WY9341ReGzlN343VAkVZBofYqHJai8KAXlh4C7D5nSKIpX9U6ZdJ4gZv1QGz9MzS13jl0MXJ7jO3Zu-_5GY3c0-wAL3txFa-zYqFHkvNa33UeO6j6YTbijw=s0-d-e1-ft#https://vfetco.stripocdn.email/content/guids/CABINET_e34c865e54ff629ca16d4c0dddd8c2fc/images/64140androidcomputerwhatsappiconsdownloadhdpng_line_.png" alt="WhatsaApp" style="display:block;border:0;outline:none;text-decoration:none" width="30" title="WhatsaApp"></a></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table> 
               <table cellpadding="0" cellspacing="0" align="right" style="border-collapse:collapse;border-spacing:0px;float:right"> 
                 <tbody><tr> 
                  <td align="left" style="padding:0;Margin:0;width:30px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><a href="tel:+971506704909" style="text-decoration:underline;color:#ffffff;font-size:14px" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/6ogEjK6iC8igjU21CHB4NgIhuu8FQmKnkj0KsSmX0ThVxWCUvzNoyZSZT8CqRqSvFIfzRynkptlE1ZG42Qx90ct9VICbtFDEW37v8iP_L2WfWhiQ_MKnhol1ZR4PxCy5Pm_zXmNAFCsU6H6ghwK-ju2mQF4AmsMcHQ1KtOCjAK4gsY7Zv-goimwjqzOxQDMxP3TYNsovxR-oknZw7wKagbfLtbzP6vPdxOYFoHDHK58L_yuxXMpgsU0=s0-d-e1-ft#https://vfetco.stripocdn.email/content/guids/CABINET_e34c865e54ff629ca16d4c0dddd8c2fc/images/citypngcomhd_white_round_circle_phone_icon_transparent_png_2000x2000.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="30"></a></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table></td> 
     </tr> 
   </tbody></table> 
  </div>  
 </div>
<br>