/* hero section */

.hero-section {
  background-image: url('../../assets/GlobalMap.webp');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 10px 0px 10px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDE6D8;
overflow: hidden;

}

.hero-sub {
  max-width: 1180px;
  display: flex;
  gap: 0px;
  align-items: flex-end;
position: relative;
}

.hero-left {
  max-width: 540px;
  padding-bottom: 64px;
}

.Hero-Headline {
  font-family: 'SK Modernist Bold';
  width:601px;
  text-align: left;
  color: #0B434B;
  font-size: 61px;
  line-height: 58px;
  padding-left: 10px;
}
.sub-heading {
  margin-top: 90px;
  margin-bottom: 30px;
  display: flex;
  align-items:  center;
}

.subheding-icon {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.subheding-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline: 0.5px solid #003b459d;
  animation: pulses 1.8s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: 1;
}

@keyframes pulses {
  0% {
    transform: translate(-50%, -50%) scale(.9);
    opacity: 0.5;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.3);
    outline-width: 12px;
    opacity: 0;
  }
}


.hero-left h4 {
  line-height: 106%;
}

.hero-left p {
  color: #1A555D;
  max-width: 433px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.hero-left h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #0B434B;
}




.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 788px;
  width: 705px;
  position: relative;
  /* background-image: url('../../assets/hero.webp');
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat; */
}
.hero-right-img {
  position: absolute;
  object-fit: contain;
  object-position: bottom;
  right: -50px;
  bottom: 0;
  height: 788px;
  width: 705px;
  z-index: 2;
}
.hero-icons-main {
  position: relative;
  width: 100%;
  height: 80%;
}

.bag-icon {
  width: 210px;
  height: 189px;
  position: absolute;
  top: 130px;
  left: 20px;
  z-index: 1;
}

.graph-icon2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 420px;
  z-index: 3;
}

.rank-icon {
  width: 149px;
  height: 194px;
  position: absolute;
  top: 400px;
  left: 380px;
  z-index: 3;
}

.graphic-devider {
  width: 100%;
  max-height: 214px;
  overflow: hidden;

}
.wawy-orange {
  background-image: url('../../assets/wawy-orange.png');
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0px 0px 5px 0px;
}


@media only screen and (max-width: 1180px) {
  .hero-section {
    background-position: bottom;
    background-repeat: no-repeat;

  }

  .hero-sub {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-top: 25px;
  }

  .hero-left {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;

  }

  .sub-heading {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .subheding-icon::after {
    width: 20px;
    height: 20px;
  }

  .hero-left h4 {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    margin-left: 10px;
  }

  .hero-left p {
    max-width: 100%;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    padding: 20px 10px 23px 10px
  }

  .hero-left h3 {
    font-size: 15px;
  }

  .hero-headline-main {
    max-width: 90%;
    text-align: left;
    padding-left: 10px;
  }

  .Hero-Headline {
    width: 100%;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
  }

  .hero-right {
    width: 374px;
    height: 432px;
    background-image: url('../../assets/hero-mob.webp');
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX();
  }
  .hero-right-img {
display: none;
  }
  .hero-icons-main {
    width: 100%;
    height: 60%;
  }

  .bag-icon {
    width: 120px;
    height: 105px;
    top: 60px;
    left: -20px;
  }

  .graph-icon2 {
    width: 61px;
    height: 61px;
    top: 60px;
    left: 240px;
  }

  .rank-icon {
    width: 90px;
    height: 118px;
    top: 180px;
    left: 180px;
  }
  
}

@media only screen and (max-width: 640px) {
  .hero-section {
    background-image: url('../../assets/earth-mobile.webp');
    background-position-y: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 10px 0px 10px;

  }

  .hero-sub {
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
  }

  .hero-left {
    width: 100%;
    padding-left: 0px;
  }

  .sub-heading {
    width: 90%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .subheding-icon::after {
    width: 25px;
    height: 25px;
  }

  .hero-left img {
    width: 56px;
    height: 56px;
  }

  .hero-left h4 {
    font-size: 16px;
  }

  .hero-left p {
    margin: auto;
    line-height: 136%;
    padding: 30px 10px 23px 10px
  }

  .hero-headline-main {
    text-align: center;
    padding-left: 5px;
  }

  .Hero-Headline {
    text-align: center;
font-size: 47px;
font-style: normal;
font-weight: 700;
line-height: 92%; /* 45.515px */
    white-space: normal;
    padding-right: 10px;
  }

  .hero-right {
    width: 100%;
    height: 432px;
    background-image: url('../../assets/hero-mob.webp');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
  }

  .hero-icons-main {
    position: relative;
    width: 80%;
    height: 60%;

  }

  .bag-icon {
    position: absolute;
    width: 110px;
    height: 95px;
    top: 30px;
    left: -35px;
    z-index: 1;
  }

  .graph-icon2 {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 60px;
    left: 215px;
  }

  .rank-icon {
    position: absolute;
    width: 90px;
    height: 118px;
    top: 150px;
    left: 180px;
  }

}

@media only screen and (max-width:325px) {

  .Hero-Headline {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  .hero-icons-main {
    position: relative;
    width: 90%;
    height: 60%;

  }

  .bag-icon {
    position: absolute;
    width: 100px;
    height: 85px;
    top: 30px;
    left: -10px;
  }

  .graph-icon2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    left: 195px;
    z-index: 1;
  }

  .rank-icon {
    position: absolute;
    width: 80px;
    height: 105px;
    top: 150px;
    left: 165px;
    z-index: 1;
  }
  .wawy-orange {
    padding: 0px 0px 8px 0px;
  }
}