/* Steps to unlock career section */

.steps-to-unlock-career-main {
  background: #EDE6D8;
  border-radius: 64px;
  margin: 35px 10px 0px 10px;
  padding: 77px 0px 50px 0px;
  position: relative;
}

.steps-to-unlock-career-main .svg-icon2 {
  position: absolute;
  bottom: 50px;
  right: 0px;
}

.steps-to-unlock-cards-main {
  width: 760px;
  margin: auto;
  position: relative;
}

.steps-to-unlock-cards-main::after {
  position: absolute;
  content: '';
  bottom: 150px;
  left: 60px;
  width: 10%;
  height: 980px;
  background-image: url('../../assets/svg/connecting-dot.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.steps-to-unlock-cards {
  margin-top: 60px;
  padding: 0px 0px 40px 0px;
  position: relative;
}

.steps-to-unlock-cards .star-svg {
  position: absolute;
  left: 30px;
}

.steps-to-unlock-card-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin-bottom: 45px;
}

.steps-to-unlock-card {
  max-width: 602px;
  display: flex;
  border-radius: 34px;
  border: 1px solid rgba(11, 67, 75, 0.39);
  padding: 33px 35px 30px 70px;
}

.steps-to-unlock-card-content {
  display: flex;
}

.steps-to-unlock-card:hover {
  background-color: #ffff;
  border: none;
}

.steps-to-unlock-card h3 {
  color: #0B434B;
  font-size: 33.636px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%;
  text-transform: uppercase;
}

.steps-to-unlock-card h1 {
  color: #259D4A;
  font-size: 96.088px;
  font-style: normal;
  font-weight: 700;
  line-height: 105.5%;
}

.steps-to-unlock-card h4 {
  color: #0C434B;
  font-family: 'SK Modernist Bold';
  font-size: 30.199px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 15px;
  line-height: 100%;
}

.steps-to-unlock-card p {
  width: 315px;
  color: #0B434B;
  font-size: 18.773px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
}

.steps-to-unlock-career-h1 {
  line-height: 114.5%;
  max-width: 803px;
  margin: auto;
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.steps-to-unlock-svg {
  height: 100px;
  width: 100px;
  z-index: 10;
}

@media only screen and (max-width: 1180px) {

  /* Steps to unlock career section */
  .steps-to-unlock-cards-main {
    width: 600px;
    margin: auto;
    margin-top: 25px;
    position: relative;
  }

  .steps-to-unlock-cards-main::after {
    position: absolute;
    content: '';
    bottom: 100px;
    left: 40px;
    width: 10%;
    height: 850px;
    background-image: url('../../assets/svg/connecting-dot.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  .steps-to-unlock-cards {
    margin-top: 30px;
    padding: 0px 0px 32px 0px;
  }

  .steps-to-unlock-card-main {
    margin-bottom: 33px;
  }

  .steps-to-unlock-card {
    width: 500px;
    padding: 15px 30px 15px 30px;
  }

  .steps-to-unlock-card-content {
    display: flex;
    gap: 10px;
  }

  .steps-to-unlock-card:hover {
    background-color: #ffff;
    border: none;
  }

  .steps-to-unlock-card h3 {
    color: #0B434B;
    font-size: 33.636px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%;
    text-transform: uppercase;
  }

  .steps-to-unlock-card h1 {
    color: #259D4A;
    font-size: 86px;
  }

  .steps-to-unlock-card h4 {
    font-size: 26px;
    padding-bottom: 15px;

  }

  .steps-to-unlock-card p {
    width: 90%;
    color: #0B434B;
    font-size: 18.773px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
  }

  .steps-to-unlock-career-h1 {
    max-width: 75%;
  }

  .steps-to-unlock-svg {
    height: 80px;
    width: 80px;
  }

}

@media only screen and (max-width: 640px) {
  /* Steps to unlock career section */

  .steps-to-unlock-career-main {
    margin-top: 30px;
    border-radius: 38px;
    padding: 47px 0px 33px 0px;
  }

  .steps-to-unlock-career-main .svg-icon2 {
    display: none;
  }

  .steps-to-unlock-career-h1 {
    max-width: 288px;
    padding: 0px 0px 0px 0px;
  }

  .steps-to-unlock-cards-main {
    width: 90%;
    margin: auto;
    position: relative;
  }

  .steps-to-unlock-cards-main::after {
    position: absolute;
    content: '';
    left: 5%;
    top: 0;
    width: 10%;
    height: 95%;
    background-image: url('../../assets/svg/connecting-dot-mob.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  .steps-to-unlock-cards {
    margin-top: 28px;
    padding: 0px 0px 0px 0px;
  }

  .steps-to-unlock-card-main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-bottom: 33px;
  }

  .steps-to-unlock-card {
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 24px 20px 30px 20px;
  }

  .steps-to-unlock-card-content {
    flex-direction: column;
  }

  .steps-to-unlock-card h3 {
    font-size: 21px;
  }

  .steps-to-unlock-card h1 {
    font-size: 60px;
  }

  .steps-to-unlock-card h4 {
    padding-bottom: 12px;
    font-size: 19px;
  }

  .steps-to-unlock-card p {
    width: 100%;
    font-size: 16px;
  }

  .steps-to-unlock-svg {
    height: 45px;
    width: 45px;
    margin-top: 25px;
  }

}

@media only screen and (max-width:325px) {
  .steps-to-unlock-cards-main::after {
    bottom: 260px;
    left: 8%;
    width: 10%;
    height: 80%;
  }
}