/* //header styles */
.header-section {
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  padding: 34px 54px 0px 72px;
  margin: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);

}

.header-section-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-section-contact p {
  line-height: 1;
}

.header-section-2 {
  padding: 30px 100px 24px 100px;
}

.header-section-2-sub {
  display: flex;
  justify-content: space-between;
}

.header-section-2-logo {
  width: 230px;
  height: 59px;
}

.header-section-2-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  order: 1;
}

.header-section-2-contact p {
  line-height: 1;
}

.header-section-2 {
  transition: all 0.3s ease;
  animation: fadeUp 0.4s ease;
  position: sticky;
  top: 0;
  z-index: 999;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hamburger-menu {
  display: flex !important;
  align-items: center;
  gap: 5px;
}

.hamburger-text {
  color: #527F5F;
  font-family: 'SK Modernist Bold';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 5px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #177333 !important;
}

/* Hide the scrollbar in webkit-based browsers */
.full-screen-menu::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: You can set a background color if needed */
}

/* Optional: Style the scrollbar track (the area where the scrollbar moves) */
.full-screen-menu::-webkit-scrollbar-track {
  background: transparent;
}

/* Optional: Style the scrollbar thumb (the draggable part of the scrollbar) */
.full-screen-menu::-webkit-scrollbar-thumb {
  background: transparent;
}


.full-screen-menu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #259d4a;
  overflow-y: scroll;
  padding-bottom: 100px;

}
.pattern-desktp {
  object-fit: contain;
  width: 100%;
}
.pattern-mob {
  display: none;
}
.full-screen-menu.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-screen-menu-content {
  width: 100%;
  margin: 0 auto;
  padding: 36px;
  position: relative;
}

.header-list {
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header-list-action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 9px 13px 9px 40px;
  border-radius: 98px;
  border: 1px solid #FFF;
  align-items: center;
}

.header-list-action span {
  color: #FFF;
  font-family: 'SK Modernist Bold';
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
}

.header-list-action button {
  width: 400px;
  text-align: center;
  padding: 29px 70px 28px 48px;
  font-family: 'SK Modernist Bold';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 81px;
}

.header-li {
  color: #FFF;
  font-family: 'SK Modernist Bold';
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  padding-top: 38px;
}

.toggler-button span {
  color: #527F5F;
  font-family: 'SK Modernist Bold';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.header-section-toggler {
  padding: 30px 100px 24px 100px;
}

.ct-button {
  width: 400px;
  text-align: center;
  padding: 29px 70px 28px 48px;
  font-family: 'SK Modernist Bold';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 81px;
}

.cta-main {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-left: 90px;
  margin-top: 70px;
  padding-bottom: 86px;

}

.arrow-animation {
  animation: arrowAnimation 2s infinite;
  /* Adjust the duration as needed */
}

.arrow-animation2 {
  display: none;
}



@keyframes arrowAnimation {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
    /* Adjust the distance the arrow travels */
  }
}

.rotate-icon {
  transition: transform 0.3s ease-in-out 0.2s;
  /* Add a 0.2s delay */
  transform-origin: center;
}

.rotate-icon.rotate {
  transform: rotateY(180deg);
}


@media only screen and (max-width: 1180px) {
  .header-section {
    padding: 26px 23px 0px 23px;
    border: none;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
  }

  .header-section-contact div {
    display: none;
  }

  .header-section-2 {
    padding: 30px 30px 24px 30px;
  }

.header-section-2-contact {
  order: 0;
}
  .header-section-2-logo {
    width: 190px;
    height: 52px;
  }
.header-section-2-contact {
  order: 0;
}
  .header-section-2-contact div {
    display: none;
  }

  .hamburger-menu {
    gap: 5px;
  }

  .hamburger-text {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .full-screen-menu {
    top: 100px;
  }

  .full-screen-menu-content {
    width: 100%;
    margin: 0 auto;
    padding: 26px;
  }

  .header-list-action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px 8px 6px 20px;
  }

  .header-list-action span {
    font-size: 25px;
  }

  .header-list-action button {
    width: 100%;
    padding: 25px 40px 25px 28px;
    font-size: 16px;
  }

  .header-li {
    font-size: 28px;
    ;
    padding-top: 25px;
  }

  .toggler-button span {
    font-size: 20px;
  }

  .header-section-toggler {
    padding: 30px 50px 30px 30px;
  }

  .ct-button {
    width: 100%;
    padding: 25px 40px 25px 28px;
    font-size: 15px;
    border-radius: 81px;
  }

  .cta-main {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 0px;
    margin-top: 50px;
    padding-bottom: 70px;

  }

  .arrow-animation {
    width: 100px;
    height: 70px;
  }

}

@media only screen and (max-width: 640px) {
  .header-section {
    padding: 23px 23px 0px 23px;
  }


  .header-section-2 {
    padding: 20px 20px 18px 20px;
  }

  .header-section-2-sub {
    display: flex;
    justify-content: space-between;
  }

  .header-section-2-logo {
    width: 170px;
    height: 52px;
  }

  .hamburger-menu {
    padding: 10px !important;
  }

  .hamburger-text {
    display: none;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 35px !important;
  }

  .full-screen-menu {
    top: 90px;
    height: 100%;
    background-image: url('../../assets/svg/toglerBottomMob.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    padding-bottom: 0px;
  }
  .pattern-desktp {
    display: none;
  }
  /* .pattern-mob {
    display: block;
    object-fit: contain;
    width: 100%;
  } */
  .full-screen-menu-content {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }

  .header-list {
    text-align: left;
    padding: 0;
    margin: 0;
    padding-top: 40px;
  }

  .header-list-action {
    display: none;
  }

  .header-li {
    color: #FFF;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.58);
    text-align: left;
    padding-left: 44px;
  }

  .toggler-button {
    order: 2;
  }

  .toggler-button span {
    display: none;
  }

  .header-section-toggler {
    padding: 20px 26px 20px 20px;
  }

  .ct-button {
    width: 100%;
    padding: 23px 40px 22px 39px;
    font-size: 15px;
    border-radius: 64px;
  }

  .cta-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 41px;
  }

  .arrow-animation {
    display: none;

  }

  .arrow-animation2 {
    display: block;
    width: 49px;
    height: 38px;
    animation: arrowAnimation2 2s infinite;
  }

  @keyframes arrowAnimation2 {

    0%,
    100% {
      transform: translateY(-10px);
    }

    50% {
      transform: translateY(10px);
      /* Adjust the distance the arrow travels */
    }
  }
}

@media only screen and (max-width:325px) {
  .header-section img {
    width: 170px;
  }

  .header-section-contact svg {
    width: 30px;
    height: 30px;
  }

}