@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: 'SK Modernist Bold';
  src: url('../fonts/Sk-Modernist-Bold.otf') format('opentype'); /* OTF format */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SK Modernist Mono';
  src: url('../fonts/Sk-Modernist-Mono.otf') format('opentype'); /* OTF format */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SK Modernist Regular';
  src: url('../fonts/Sk-Modernist-Regular.otf') format('opentype'); /* OTF format */
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px; /* Set your desired width */
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set your desired background color */
  }
h1, h2, h3, h4, h5, h6 {
 
  color: #0B434B;
}
p {
  font-family: 'SK Modernist Regular';
  font-size: 20px;
  line-height:30px ;
}
 h1 {
  font-family: 'SK Modernist Bold';
  font-size: 53px;
 }
 h2 {
  font-family: 'SK Modernist Bold';
  font-size: 40px;
 }
 h3 {
  font-family: 'SK Modernist Regular';
  font-size: 26px;
 }
 h4 {
  font-family: 'SK Modernist Regular';
  font-size: 23px;
 }
 h5 {
  font-size: 20px;
 }
 h6 {
  font-family: 'SK Modernist Regular';
  font-size: 18px;
 }
 button {
  font-family: 'SK Modernist Bold';
  color: #FFF;
  font-size: 22.564px;
  font-style: normal;
  /* font-weight: 700; */
  line-height: 92%; /* 20.759px */
  text-transform: uppercase;
 }
.highlight-green {
    color: #259D4A;
    white-space: nowrap;
    box-sizing: border-box;
}
.highlight-orange {
  color:#EE9B4E ;
}
.claim-description {
  margin: auto;
  max-width: 483px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  line-height: 136%; /* 20.4px */
  font-weight: 400;
  padding-top: 16px;
}


/* //header styles */
.header-section {
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  padding: 34px 54px 0px 72px;
  margin: 10px;
  margin-bottom:0px ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);

}
.header-section-contact{
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-section {
  /* Set the background image and position it */
  background-image: url('/images/Global\ Map.png');
  background-position: center right; 
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 10px 0px 10px;

}
/* .hero-section::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 150px;
  background: url('/images/GraphicPatter.png') no-repeat bottom center;
  background-size: cover;
  z-index: 2;
} */
.hero-sub {
  max-width: 1180px ;
  display: flex;
  gap: 60px
  
}
.hero-left {
  width:540px ;
}
.Hero-Headline {
  font-size: 90px;
  font-weight: 700; 
  line-height: 95px;
}
.wavy-underline {
  position: relative;
  display: inline;
}

.wavy-underline::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('/images/svg/wawyUnderline.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wavy-underline-orange2 {
  position: relative;
  display: inline;
}

.wavy-underline-orange2::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('/images/svg/wawyUnderline-large.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hero-right {
 position: relative;
}
.hero-img {
  width: 645px;
  /* height: 758px; */
  z-index: 5;
  background-size: contain;
}
.bag-icon {
  width: 210px;
  height: 189px;
  position: absolute;
  top:200px;
  left: -50px;
  z-index: 1;
}
.graph-icon2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top:200px;
  left: 420px;
  z-index: 1;
}
.rank-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top:420px;
  left: 400px;
  z-index: 1;
}
.graphic-devider {
  width: 100%;
  max-height: 214px;
  overflow: hidden;
 
}
.carousel {
  max-width: 1180px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
position: relative;
  bottom: 90px;
  margin:auto ;
  background: white;
  border-radius: 55px ;
  font-weight: bold;
}
.carousel-svg {
  width: 73px;
  height: 73px;
}


/* Swiss school section */

.why-swiss-school {
  max-width: 800px;
  margin: auto;
}
.swiss-school-h1 {
  padding: 30px;
  padding-top: 50px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}
.wavy-underline-green {
  position: relative;
  display: inline;
}
.wavy-underline-green::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('/images/svg/wawyUnderlineGreen.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wavy-underline-green2 {
  position: relative;
  display: inline;
}
.wavy-underline-green2::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('/images/svg/wawyUnderlineGreen2.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.why-swiss-school div  {
 max-width: 630px;
 margin: auto;
}
.why-swiss-school div .p-margine {
  font-size: 18px;
  margin-bottom:33px ;
}

/* Program-Highlights section */

.highlight-main {
  margin: 0px 10px 0px 10px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 80px;
  border-radius: 64px;
}
.highlight-h2  {
  text-align: center;
  color: white;
  width: 600px;
  background-color: #0b4149;
  position:absolute;
  left: 29%;
  bottom: 92% 
}
.highlight-h2 .wavy-underline-green::after {
  bottom: -20px;
}
.program-highlights-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  border: 2px solid #EE9B4E;
  margin: auto;
  margin-bottom: 70px;
  padding-top: 105px;
  border-radius: 70px;
}

.Highlight-columns {
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  padding: 20px;
  padding-left: 40px;
  
}
.Highlight-columns2 {
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D9D9;
  padding: 20px;
  padding-left: 40px;
  position: relative;
}
.Highlight-star-icon {
  position: absolute;
  left: 40%;
  top: 20%;
}
.highlight-svg {
  width: 120px;
  height: 118px;
}
.highlight-svg path {
  transition: fill 0.3s;
  fill: #0B434B;
}
.columns:hover .highlight-svg circle {
  fill:#259D4A 
}
.columns:hover .highlight-svg path {
  fill: #fafafa; /* New color on hover */
}
.highlight-description {
  margin: auto;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.82);
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  max-width: 400px;
}

/* Acreditions part */

.accredit-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 600px;
  margin-top: 40px;
  background-image: url('/images/earth.png');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain;
}
.accredit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
  filter: blur(10px);
  pointer-events: none;
  z-index: 1;
}
.accredit-main h1 {
  max-width: 552px ;
  margin: auto;
}
.accredit-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 23px;
  padding-bottom: 31px;
  /* width: 1440px; */
}
.accredit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 211px;
  min-height: 106px;
  border-radius: 26.853px;
  background: #FFF;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
}

/* Unbeatable section */

.unbeatable-main {
  margin: 0px 10px 0px 10px;
  position: relative;
  padding-top: 80px;
  margin-bottom: 80px;
  margin-top: 80px;
  border-radius: 64px;
}
.unbeatable-main h1 {
  max-width: 730px;
  margin: auto;
  padding: 0px 40px 0px 40px;
  line-height: 60px;
}
.unbeatable-video-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 734px;
  margin-top: 40px;
  background-image: url('/images/arch-bg.png');
  background-position: center left; 
  background-repeat: no-repeat;
  background-size: contain;
}
.unbeatable-video-player {
  width: 1180px;
  border-radius: 20px;
  overflow: hidden;
}
.player-wrapper {
  position: relative;
  overflow: hidden; /* Add this to ensure the player respects border-radius */
}

.react-player {
  border-radius: 20px; /* Your desired border-radius */
}

.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-icon {
  animation: breathingEffect 3s ease-out infinite;
  background: white;
  border-radius: 150px;
}

/* Keyframes for the breathing effect */
@keyframes breathingEffect {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 25px 15px rgba(255, 255, 255, 0.4);
  }
}


.unbeatable-outer-container {
  /* width: 65%; */
  margin: auto;
  padding: 50px 0px 0px 0px;
  max-width: 65% ;
  position: relative;
}
.unbeatable-outer-container::before,
.unbeatable-outer-container::after {
  content: '';
  position: absolute;
  width: 1.5px; 
  height: 70%; 
  background: rgba(11, 67, 75, 0.53)
}
.unbeatable-outer-container::before {
  left: 0;
  bottom: 0;
  top: 0;

}

.unbeatable-outer-container::after {
  right: 0;
  bottom: 0;
}
.unbeatable-inner-container {
  padding: 0px 0px 80px 0px;
}
.unbeatable-inner-flex {
  display: flex;
  align-items: center;
  padding: 30px 120px 50px 100px;
}
.unbeatable-inner-flex-content {
  padding-left: 30px;
}
.unbeatable-inner-flex-content h4 {
  font-family: 'SK Modernist Bold';
}
.unbeatable-inner-flex-content h6 {
  line-height: 1.6;
  padding: 10px 50px 10px 0px;
}


/* 6-power-skills section */

.power-skill-main {
 padding-bottom: 80px;
 overflow: hidden;
}
.power-skill-main h1 {
  margin: auto;
  max-width: 727px;
  text-align: center;
  line-height: 104%; /* 55.12px */
}

.power-skill-description {
  max-width: 491px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  line-height: 136%; /* 27.2px */
}

.power-skill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px 20px 30px 20px;
  margin: 0 auto;
  max-width: 1120px;
  position: relative;
}
.power-skill-star {
  width: 300px;
  position: absolute;
  bottom: 150px;
  right: -100px;
  z-index: -1;
}

.power-skill-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 392px;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
}
.power-skill-card h3 {
  font-family: 'SK Modernist Bold';
  line-height: 112%; /* 29.166px */
}
.power-skill-card div {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.power-skill-card p {
  padding: 10px 20px 10px 50px;
}
.power-skill-card-icon {
  position: absolute;
  left: 5px;
  top: 30px;
}
.power-skill-card-img {
  max-width:329px ;
  height: auto; 
}


/* Uae professional section */

.uae-professional-main {
  position: relative;
  margin: 0px 10px;
  border-radius: 64px;
  overflow: hidden;
}

.uae-professional-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/images/building-burj.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px);
  z-index: -1;
}

.uae-professional-inner {
  max-width: 1180px;
  margin: auto;
  position: relative;
  display: flex;
  gap: 100px;
  padding: 120px 10px 100px 10px ;
}
.uae-professional-inner h1 {
  line-height: 104%;
  padding-bottom: 40px;
}
.uae-professional-p {
  margin-bottom: 35px;
  padding: 0px 45px 0px 0px;
  font-size:18px ;
  color: #0B434B;

font-family: Sk-Modernist;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 24.48px */
}
.uae-professional-graphic-devider {
  position: absolute;
  right: 0;
  z-index: 0;
  bottom: 0;
  max-width:217px;
}

/* Alumini carousel section */

.alumini-carousel-main {
  margin: 50px 0px 50px 0px;
}
.alumini-carousel-main h1 {
  max-width: 923px;
  margin: auto;
  text-align: center;
  line-height: 104%; /* 55.12px */
  padding: 0px 20px 0px 20px;
  margin-bottom: 50px;
}


/* World of possibilities section */

.world-of-possibilities-main {
  background: #DCFBFF;
  margin: 0px 10px 0px 10px;
  position: relative;
  padding-top: 80px;
  /* margin-bottom: 80px; */
  margin-top: 80px;
  border-radius: 64px;
}
.world-of-possibilities-main h1 {
  max-width: 791px;
  margin: auto;
  text-align: center;
  padding: 0px 10px 0px 10px;
  line-height: 104%; /* 55.12px */
}
.world-of-possibilities-sub-1 {
  display: flex;
  flex-direction: column;
  /* gap: 100px; */
  justify-content:flex-end;
  align-items: center;
  max-width: 1183px;
  background-image: url('/images/map-bg.png');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 40px;
  border-bottom: 2.5px solid rgba(11, 67, 75, 0.10);
  padding-top: 30px;
}
.breathing-image {
  width: 316px;
  height: 316px;
  background: white;
  border-radius: 150px;
  animation: breathingEffect 3s ease-out infinite;
}
@keyframes breathingEffect {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 25px 15px rgba(255, 255, 255, 0.8);
  }
}

.world-of-possibilities-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}
.world-of-possibilities-card:not(:last-child) {
  display: flex;
  justify-content: center;
  width: 356px;
  border-right: 2.5px solid rgba(11, 67, 75, 0.10);
  padding: 10px 0px 40px 0px;
}

.world-of-possibilities-card:last-child {
  display: flex;
  justify-content: center;
  width: 356px;
  padding: 10px 0px 40px 0px;
}

.world-of-possibilities-card h1 {
  
  color: #1F6671;
  font-size: 76.494px;
  font-style: normal;
  font-weight: 700;
  line-height: 104%; /* 79.553px */
  text-align: start;
}
.world-of-possibilities-card span {
  font-family: 'SK Modernist Regular';
  color: #0B434B;
  font-size: 36.817px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%; /* 38.29px */
  padding: 0px 10px 0px 10px;
}
.world-of-possibilities-sub-2 {
  max-width: 1183px;
  margin: auto;
}
.world-of-possibilities-cards-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 50px 20px 50px 20px;
  margin: 0 auto;
  max-width: 1120px;
  position: relative;
}
.world-of-possibilities-2-card {
  display: flex;
  max-width: 537px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: center;
  gap: 10px;
  padding: 30px 20px 40px 20px;
  transition: background-color 0.3s, color 0.3s;
}
.world-of-possibilities-2-card h3 {
font-family: 'SK Modernist Bold';
margin-bottom: 15px;
}
.world-of-possibilities-2-card p {
  line-height: 136%; /* 25.899px */
  }
.world-of-possibilities-2-card:hover {
  background-color: #259D4A; 
  color: #fff; 
}
.world-of-possibilities-2-card:hover h3 {
  color: #fff;
}

.world-of-possibilities-2-card:hover svg path {
  fill: white;
}

.world-of-possibilities-2-card:hover svg circle {
  stroke: white;
}
/* .world-of-possibilities-bg {
  max-height: 817px;
  overflow: hidden;
  border-bottom-left-radius: 64px;
} */
.world-of-possibilities-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('/images/professional2.png');
  background-position: top; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 817px;
  mix-blend-mode:darken;
}
.world-of-possibilities-icons{
  position: relative;
  height: 50%;
  width: 466px;
}
.world-of-possibilities-icon-1 {
  position: absolute;
  left: -120px;
  bottom: 50px;
}
.world-of-possibilities-icon-2 {
  position: absolute;
  left: -120px;
  bottom: 350px;
}
.world-of-possibilities-icon-3 {
  position: absolute;
  left: -240px;
  bottom: 200px;
}
.world-of-possibilities-icon-4 {
  position: absolute;
  left: -220px;
  bottom: 300px;
}
.world-of-possibilities-brochure {
  max-width: 1180px;
  background: #0C434B;
  border-radius: 64px;
  padding: 0px 55px 0px 80px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 100px;
}
.world-of-possibilities-brochure h1 {
  color: white;
  max-width: 600px;
  line-height: 100%; /* 0px */
  margin-bottom: 30px;
}
.world-of-possibilities-brochure h3 {
  color: white;
}
.world-of-possibilities-brochure p {
  color: rgba(255, 255, 255, 0.76);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%; /* 24.48px */
  margin-bottom: 30px;
  padding-right: 60px;
}
.world-of-possibilities-brochure img {
  max-height: 449px;
}
.world-of-possibilities-brochure-left {
  padding: 67px 0px 92px 0px
}

/* Review section */

/* .review-section-main {

} */
.review-section-main h1 {
  max-width: 791px;
  margin: auto;
  text-align: center;
  padding: 0px 10px 0px 10px;
  line-height: 104%; /* 55.12px */
}
.review-video-main {
  max-width: 1180px;
  margin: auto;
}
.carousel-container {
  position: relative;
}

.custom-right-arrow, .custom-left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.custom-right-arrow {
  right: 5px; /* Adjust as needed */
}

.custom-left-arrow {
  left: 5px; /* Adjust as needed */
}
.player-container {
  border-radius: 50px;
  overflow: hidden;
  /* Other styles if needed, such as width and height */
}
.review-video-sub {
  height: 253px;
  width: 100%;
  background-image: url('/images/GraphicPatter3.png');
  background-position: bottom center ; 
  background-repeat: no-repeat;
  margin: 80px 0px 50px 0px;
  position: relative;
}
.review-video-sub-cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 100px;
}
/* .review-video-sub-card {

} */

.user-reviews {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px 0px 45px 0px;

}
.user-review-card {
  max-width: 514px;
  min-width: 514px;
  border: 2px solid rgba(18, 104, 44, 0.49);
  border-radius: 47px;
  padding: 50px 56px 40px 40px;
}
.user-review-card p {
  color: #24626A;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 144%; /* 25.92px */
margin-bottom: 60px;
}
.user-review-card h5{
  font-family: 'SK Modernist Bold';
}


/* Successful graduates section */

.successful-graduates-main {
    margin-bottom: 45px;
}
.successful-graduates-sub-1 {
  min-height: 600px;
  background:  url('/images/graduates.png');
  /* background: linear-gradient(180deg, #1C7337 0%, #248E45 100%); */
  background-color: #1C7337;
    margin: 50px 10px 0px 10px;
    border-radius: 64px 64px 0px 0px;
  background-position:  bottom  ; 
  object-fit: contain;
  background-repeat: no-repeat;
  padding: 60px 0px 60px 0px ;
}
.successful-graduates-sub-1 h1 {
  max-width: 936px;
  margin: auto;
  color: #fff;
  text-align: center;
  line-height: 100% ;
  padding: 0px 126px 0px 120px ;
}
.successful-graduates-carousel {
  margin-bottom: 45px;
}
.successful-graduates-carousel-1 , .successful-graduates-carousel-2  {
  display: flex;
  max-height: 388px;
  overflow: hidden;
}
.gradute-image {
  max-width: 300px;
  margin-left: 2px;
}


/* Steps to unlock career section */

.steps-to-unlock-career-main {
  background: #EDE6D8;
  border-radius: 64px;
  margin: 0px 10px 0px 10px;
  padding: 77px 0px 50px 0px ;
  position: relative;
}
.steps-to-unlock-career-main .svg-icon2 {
  position: absolute;
  bottom: 50px;
  right: 0px;
}
.steps-to-unlock-cards {
  margin-top: 60px;
  padding: 0px 0px 40px 0px;
  position: relative;
}
.steps-to-unlock-cards .star-svg {
  position: absolute;
  left: 30px;
}
.steps-to-unlock-card-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin-bottom: 45px;
}
.steps-to-unlock-card {
  max-width: 602px;
  display: flex;
  border-radius: 34px;
  border: 1px solid rgba(11, 67, 75, 0.39);
  padding: 33px 35px 30px 70px ;
}
.steps-to-unlock-card:hover {
  background-color: #ffff;
  border: none;
}
.steps-to-unlock-card h3 {
  color: #0B434B;
  font-size: 33.636px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 38.513px */
  text-transform: uppercase;
}
.steps-to-unlock-card h1 {
  color: #259D4A;
  font-size: 96.088px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.5%; /* 110.021px */
}
.steps-to-unlock-card h4{
  color: #0C434B;
  font-family: 'SK Modernist Bold' ;
  font-size: 30.199px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%; /* 36.842px */
}
.steps-to-unlock-card p {
  max-width: 315px ;
  color: #0B434B;
  font-size: 18.773px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%; /* 25.532px */
}
.steps-to-unlock-career-h1 {
  line-height: 114.5%; /* 110.021px */
  max-width: 803px;
  margin: auto;
  text-align: center;
  padding: 0px 20px 0px 20px;
}


/* 100% student support guarantee section */

.student-support-main {
  background-image: url('/images/background-img.png');
  object-fit: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  padding: 70px 0px 30px 0px;
}
.student-support-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.student-support-sub img {
  max-width: 421px;
  margin-bottom: 33px;
}
.student-support-sub h1 {
  max-width: 620px;
  text-align: center;
  line-height: 114.5%;
  margin-bottom: 24px;

}
.student-support-sub p {
  color: #0B434B;
  max-width: 516px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%; /* 24.48px */
}

/* ICF certification section */

.icf-certification-main {
  background: url('images/GraphicPatter3.png') no-repeat top / contain, #EDE6D8;
  position: relative;
}
.icf-certification-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1025px;
  margin: auto;
  padding-top: 200px;
}
.icf-certification-sub h2 {
  max-width: 426px;
text-align: center;
font-size: 28.321px;
font-style: normal;
font-weight: 700;
line-height: 107.5%; /* 30.445px */
margin-bottom:15px;
}
.icf-certification-sub h1 {
  max-width: 831px;
  font-size: 55.246px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 114.5%;
  padding: 20px 20px 20px 20px ;
}
.icf-form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 999px;
  width: 100%;
  border-radius: 70px;
  border: 2px solid rgba(11, 64, 72, 0.41);
  box-sizing: border-box; 
  padding: 139px 20px 70px 20px; 
  margin: auto; 
  margin-top: 40px;

}
.icf-form-main svg {
  width: 200px;
  background-color: #EDE6D8;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%); 
}
.icf-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.icf-form h2 {
  color: #0B434B;
  text-align: center;
  font-size: 40.989px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 45.088px */
  max-width:616px ;
  padding: 0px 20px 0px 20px;
}
.icf-form input {
  width: 700px;
  border-radius: 73px;
  border: 1px solid rgba(0, 0, 0, 0.47);
  background: #FCFCFC;
  padding:25px 65px 25px 65px ;
  margin-bottom:16px ;
  margin-top: 16px;
  font-size: 25px;
}
.icf-form input::placeholder {
  font-size: 25px;
  color:#5B5454 ;
}
.icf-form button {
  width: 700px;
  background: #0B434B;
  border-radius: 91.765px;
  padding: 26px 0px 30px 0px;
  margin-bottom: 18px;
}
.form-error {
  color: red;
  margin-bottom: 16px;
}
.bottom-man-image-div {
  height: 690px;
  position: relative;
}
.bottom-man-image {
  width: 100%;
  height: 937px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: center;
  opacity:0.9 ;
}



@media only screen and (max-width: 768px) {
  .header-section {
    padding: 26px 0px 0px 23px;
    border: none;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
  }
  .header-section-contact div {
    display: none;
  }
}