@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: 'SK Modernist Bold';
  src: url('../fonts/Sk-Modernist-Bold.otf') format('opentype'); /* OTF format */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SK Modernist Mono';
  src: url('../fonts/Sk-Modernist-Mono.otf') format('opentype'); /* OTF format */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SK Modernist Regular';
  src: url('../fonts/Sk-Modernist-Regular.otf') format('opentype'); /* OTF format */
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
 
  color: #0B434B;
}
p {
  font-family: 'SK Modernist Regular';
  font-size: 20px;
  line-height:30px ;
}
 h1 {
  font-family: 'SK Modernist Bold';
  font-size: 53px;
 }
 h2 {
  font-family: 'SK Modernist Bold';
  font-size: 40px;
 }
 h3 {
  font-family: 'SK Modernist Regular';
  font-size: 26px;
 }
 h4 {
  font-family: 'SK Modernist Regular';
  font-size: 23px;
 }
 h5 {
  font-size: 20px;
 }
 h6 {
  font-size: 18px;
 }
.highlight {
    color: #259D4A;
    white-space: nowrap;
}
.highlight-orange {
  color:#EE9B4E ;
}
/* //header styles */
.header-section {
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  padding: 34px 54px 0px 72px;
  margin: 10px;
  margin-bottom:0px ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);

}

.hero-section {
  /* Set the background image and position it */
  background-image: url('../public/images/Global\ Map.png');
  background-position: center right; 
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 10px 0px 10px;

}
/* .hero-section::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 150px;
  background: url('../public/images/GraphicPatter.png') no-repeat bottom center;
  background-size: cover;
  z-index: 2;
} */
.hero-sub {
  max-width: 1180px ;
  display: flex;
  gap: 60px
  
}
.hero-left {
  width:540px ;
}
.Hero-Headline {
  font-size: 90px;
  font-weight: 700; 
  line-height: 95px;
}
.wavy-underline {
  position: relative;
  display: inline;
}

.wavy-underline::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('../public/images/svg/wawyUnderline.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hero-right {
 position: relative;
}
.hero-img {
  width: 645px;
  height: 758px;
  z-index: 5;
}
.bag-icon {
  width: 210px;
  height: 189px;
  position: absolute;
  top:200px;
  left: -50px;
  z-index: 1;
}
.graph-icon2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top:200px;
  left: 420px;
  z-index: 1;
}
.rank-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top:420px;
  left: 400px;
  z-index: 1;
}
.graphic-devider {
  width: 100%;
  max-height: 214px;
  overflow: hidden;
 
}
.carousel {
  max-width: 1180px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
/* position: relative;
  bottom: 90px; */
  margin:auto ;
  background: white;
  border-radius: 55px ;
  font-weight: bold;
}
.carousel-svg {
  width: 73px;
  height: 73px;
}

/* Swiss school section */

.why-swiss-school {
  max-width: 800px;
  margin: auto;
}
.swiss-school-h1 {
  padding: 30px;
  padding-top: 50px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}
.wavy-underline-green {
  position: relative;
  display: inline;
}
.wavy-underline-green::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('../public/images/svg/wawyUnderlineGreen.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.why-swiss-school div  {
 max-width: 630px;
 margin: auto;
}
.why-swiss-school div .p-margine {
  font-size: 18px;
  margin-bottom:33px ;
}