/* Unbeatable section */

.unbeatable-main {
  margin: 0px 10px 0px 10px;
  position: relative;
  padding-top: 80px;
  margin-bottom: 80px;
  margin-top: 80px;
  border-radius: 64px;
}

.unbeatable-main h1 {
  max-width: 730px;
  margin: auto;
  padding: 0px 40px 0px 40px;
  line-height: 60px;
}

.unbeatable-video-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 734px;
  margin-top: 40px;
  background-image: url('../../assets/arch-bg.webp');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}

.unbeatable-video-player {
  width: 1180px;
  height: 80%;
  border-radius: 20px;
  overflow: hidden;
}

.player-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.react-player {
  border-radius: 20px;
}

.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-icon {
  position: relative;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  position: relative;
  border: none;
  -webkit-box-shadow: 0 0 0 0 #EDE6D8;
  box-shadow: 0 0 0 0 #EDE6D8;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: pulse 1.8s cubic-bezier(.66, 0, 0, 1) infinite;
  animation: pulse 1.8s cubic-bezier(.66, 0, 0, 1) infinite;
  text-indent: 1000%;
  overflow: hidden;
  white-space: nowrap
}

@keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 30px transparent;
    box-shadow: 0 0 0 30px transparent
  }
}

@keyframes breathingEffect {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}


.unbeatable-outer-container {
  margin: auto;
  padding: 50px 0px 0px 0px;
  width: 870px;
  position: relative;
}

.unbeatable-outer-container::before,
.unbeatable-outer-container::after {
  content: '';
  position: absolute;
  width: 1.5px;
  height: 70%;
  background: rgba(11, 67, 75, 0.53)
}

.unbeatable-outer-container::before {
  left: 0;
  bottom: 0;
  top: 0;

}

.unbeatable-outer-container::after {
  right: 0;
  bottom: 0;
}

.unbeatable-inner-container {
  padding: 0px 0px 80px 0px;
}

.unbeatable-inner-flex {
  display: flex;
  align-items: center;
  padding: 30px 120px 50px 100px;
}

.unbeatable-inner-flex-content {
  padding-left: 30px;
}

.unbeatable-inner-flex-content h4 {
  font-family: 'SK Modernist Bold';
}

.unbeatable-inner-flex-content h6 {
  line-height: 1.6;
  padding: 10px 50px 10px 0px;
}

@media only screen and (max-width: 1180px) {
  /* Unbeatable section */

  .unbeatable-main {
    margin: 0px 10px 0px 10px;
    position: relative;
    padding-top: 37px;
    margin-bottom: 10px;
    border-radius: 38px;
  }

  .unbeatable-main h1 {
    max-width: 70%;
    margin: auto;
    padding: 0px 40px 10px 40px;
    line-height: 105%;
  }

  .unbeatable-video-main {
    height: 380px;
    margin-top: 10px;
    background-image: url('../../assets/arch-bg-mob.webp');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .unbeatable-video-player {
    width: 90%;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;
  }

  .play-icon {
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: relative;
    border: none;
    -webkit-box-shadow: 0 0 0 0 #EDE6D8;
    box-shadow: 0 0 0 0 #EDE6D8;
    border-radius: 50%;
    cursor: pointer;
    -webkit-animation: pulse 1.8s cubic-bezier(.66, 0, 0, 1) infinite;
    animation: pulse 1.8s cubic-bezier(.66, 0, 0, 1) infinite;
    text-indent: 1000%;
    overflow: hidden;
    white-space: nowrap
  }

  .unbeatable-outer-container {
    margin: auto;
    padding: 20px 0px 0px 0px;
    max-width: 75%;
    position: relative;
  }

  .unbeatable-outer-container::before,
  .unbeatable-outer-container::after {
    width: 0px;
  }

  .unbeatable-inner-container {
    padding: 0px 0px 39px 0px;
  }

  .unbeatable-inner-flex {
    display: flex;
    align-items: flex-start;
    padding: 30px 20px 38px 10px;
  }

  .unbetable-inner-icon {
    width: 60px;
    height: 116px;
    align-items: flex-start;
  }

  .unbeatable-inner-flex-content {
    padding-left: 10px;
  }

  .unbeatable-inner-flex-content h4 {
    line-height: 110.5%;
    padding: 0px 0px 0px 10px;
  }

  .unbeatable-inner-flex-content h6 {
    font-size: 15px;
    font-style: normal;
    padding: 10px 10px 10px 10px;
    line-height: 136%;
  }

}

@media only screen and (max-width: 640px) {
  /* Unbeatable section */

  .unbeatable-main {
    margin: 0px 10px 0px 10px;
    position: relative;
    padding-top: 37px;
    margin-bottom: 10px;
    border-radius: 38px;
  }

  .unbeatable-main h1 {
    max-width: 298px;
    margin: auto;
    padding: 0px 0px 20px 0px;
    line-height: 105%;
  }

  .unbeatable-video-main {
    height: 243px;
    margin-top: 10px;
  }

  .unbeatable-video-player {
    width: 90%;
    height: 80%;
    border-radius: 20px;
    overflow: hidden;
  }

  .play-icon {
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: relative;
    border: none;
    -webkit-box-shadow: 0 0 0 0 #EDE6D8;
    box-shadow: 0 0 0 0 #EDE6D8;
    border-radius: 50%;
    cursor: pointer;
    -webkit-animation: pulse 1.8s cubic-bezier(.66, 0, 0, 1) infinite;
    animation: pulse 1.8s cubic-bezier(.66, 0, 0, 1) infinite;
    text-indent: 1000%;
    overflow: hidden;
    white-space: nowrap
  }

  .unbeatable-outer-container {
    margin: auto;
    padding: 20px 0px 0px 0px;
    max-width: 100%;
    position: relative;
  }

  .unbeatable-outer-container::before,
  .unbeatable-outer-container::after {
    width: 0px;
  }

  .unbeatable-inner-container {
    padding: 0px 0px 39px 0px;
  }

  .unbeatable-inner-flex {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 29px 10px;
  }

  .unbetable-inner-icon {
    width: 60px;
    height: 116px;
    align-items: flex-start;
  }

  .unbeatable-inner-flex-content {
    padding-left: 10px;
  }

  .unbeatable-inner-flex-content h4 {
    line-height: 110.5%;
    padding: 0px 0px 0px 10px;
  }

  .unbeatable-inner-flex-content h6 {
    font-size: 15px;
    font-style: normal;
    padding: 10px 10px 10px 10px;
    line-height: 136%;
  }

}